body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #2e2e2e;
    background-color: #f9f9f9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   }
  
  



  .navbar {
    background-color: #006400; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-right: 180px;
    padding-left: 100px;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  
  .hero {
    background-color: #228B22; 
    color: white;
    text-align: center;
    padding: 50px 20px;
  }
  
  .hero .cta-button {
    display: inline-block;
    background-color: white;
    color: #006400;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .hero .cta-button:hover {
    background-color: #006400;
    color: white;
  }
  
  
  .products {
    padding: 20px;
    text-align: center;
    
  }

  .image {
    width: 100px;
    height: 120px;
  }
  
  .product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
  }
  
  .product img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .product button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px;
    
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product button:hover {
    background-color: #228B22;
  }
  
  
  footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 10px;
  }
  

  .logo{
    font-size: medium;
  }

p{
  padding-left: 50px;
  padding-right: 50px;

}

h1{
  padding-left: 30px;
}

h2{
  padding-left: 30px;
}